@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* DEFINICION DE VARIABLES */
:root {
    --color-background: linear-gradient(180deg,
            #d9afd9 0%,
            #ffffff 33%,
            #97d9e1 66%,
            #ffffff 100%);
    --color-background-cajas: #c0d0d7ec;
    --color-background-cards: radial-gradient(circle farthest-corner at 54.5% 94.8%, rgba(227, 250, 251, .7) 0.4%, rgba(226, 241, 233, .8) 28.4%, rgba(198, 231, 215, .5) 58.4%, rgba(245, 237, 253, .9) 90%);

    --color-background-footer: #203754ae;
    --color-background-header: rgba(181, 183, 242, 0.714);
    --color-buttons: rgba(152, 211, 246, 0.88);
    --color-buttons-hover: #67d2de;
    --color-fonts: #4c4b4b;
    --font-titulo: "Roboto", sans-serif;
    --font-texto: "Lato", sans-serif;
    --font-size_titulo: 1rem;
    --font-size_texto: 0.8rem;
}

/* FIN DE DEFINICION DE VARIABLES */

/* ESTILOS DE LA PAGINA */
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
}

body {
    background-image: var(--color-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-fonts);
    font-size: var(--font-size_texto);
    font-family: var(--font-titulo);
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

/* formato header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--color-background-header);
    font-family: var(--font-titulo);
    font-size: 0.9em;
    width: 100%;
}

.imagen--button {
    background-color: var(--color-background-cajas);
}

.header--imagen {
    width: 8em;
}

.header--iconos-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

.header--nav-item {
    text-decoration: none;
    color: black;
    margin: 0 0.4em;
}

.header--nav-button,
.imagen--button {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

/* formato cuerpo pagina */
/* seccion presentacion */
.imagen-banner {
    width: 100%;
}

.main--imagen-perfil {
    width: 40%;
    margin-left: 25%;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0.7em 2em;
    gap: 3em;
}

.iconos--redes {
    display: flex;
    gap: 0.9em;
}

.bio--icono {
    width: 2.5em;
}

.presentacion--texto {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* seccion grilla formaciones */
.formaciones--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
}

.card {
    background: var(--color-background-cards);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1em 1.5em;
}

.card--img {
    width: 20rem;
    object-fit: cover;
}

.card--description {
    width: 90%;
    white-space: wrap;
    padding: .3em .2em;
}

span.card--description {
    color: black;
}

.card--title {
    padding-top: .8em;
}


/* seccion skills */
.section--skills-item h2 {
    padding: 0.8em;
}

.imagen--soft,
.imagen--hard,
.imagen--hobbie {
    width: 9em;
    border: solid white 2px;
    padding: 0.5em;
}

ul.section--hard-list,
ul.section--soft-list,
ul.section--hobbie-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 3em;
}

.section--hard-item,
.section--soft-item,
.section--hobbie-item {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

/* formato formulario contacto */

.alert {
    position: fixed;
    background: linear-gradient(rgba(127, 155, 194, 0.933),
            rgba(125, 125, 125, 0.88));
    box-shadow: 0 0 10px rgba(0, 0, 0);
    color: rgb(2, 2, 2);
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 1em 2em;
    border-radius: 0.8em;
}

.contact--text {
    padding-bottom: 1em;
    font-size: medium;
    font-weight: 500;
}

form {
    margin: 0.8em auto;
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgb(52, 52, 52);
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 0.7em;
    font-weight: 500;
}

input {
    height: 3em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em 0.9em;
    box-sizing: border-box;
    border: 1px solid #999;
    color: #000;
}

input:focus,
textarea:focus {
    border-color: #7004f4;
}

textarea {
    vertical-align: top;
    height: 6em;
}

.item-button {
    text-align: center;
}

.form-button {
    align-self: center;
    padding: 0.8em 1.3em;
    text-align: center;
    border-radius: 0.3em;
    background-color: var(--color-buttons);
    font-weight: 600;
}

.form-button:hover {
    background: var(--color-buttons-hover);
}

.contacto--msj {
    display: inline-flex;
    margin-left: 2em;
    font-weight: 500;
    padding-top: 1em;
}

/* formato footer */
.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-size_texto);
    margin-bottom: 0.7em;
    margin-top: 1em;
}

.footer--redes-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer--redes-item {
    margin: 0 0.8em;
    align-self: center;
}

.icono--footer {
    width: 2.3em;
}

/* pantallas medianas (tablets) */
@media (min-width: 560px) {
    .header {
        padding: 0.6em;
        font-size: var(--font-size_texto);
    }

    .header--imagen {
        width: 7em;
    }

    /* oculta el boton en pantallas medianas y grandes */
    .button-menu {
        display: none;
    }

    .lista-iconos {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .header--nav-list {
        display: none;
    }

    .iconos--list {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    .bio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main--imagen-perfil {
        width: 15em;
        margin-left: 0%;
    }



    /* formato formaciones */
    .formaciones--container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2em;

    }

    /* contacto */
    form {
        margin: 0 auto;
        width: 80%;
        padding: 1.5em;
        border: 1px solid #ccc;
        border-radius: 1em;
    }

    .alert {
        top: 10rem;
        left: 50%;
        padding: 1.5em 3em;
    }

    .contact--text {
        padding-bottom: 1.3em;
    }

    .contacto--msj {
        display: inline-flex;
        margin-left: 10%;
        font-weight: 500;
        padding-top: 1em;
    }
}

/* pantallas grandes (desktops) */
@media (min-width: 757px) {
    .header {
        padding: 0.8em;
        font-size: var(--font-size_texto);
        font-weight: 500;
    }

    .header--imagen {
        width: 9em;
        /* Ajuste para pantallas grandes */
    }

    .header--nav-list {
        display: flex;
        gap: 2em;
    }

    /* oculta la lista de iconos en pantallas grandes */
    .header--iconos-list {
        display: none;
    }

    .main--imagen-perfil {
        width: 15em;
        margin-left: 10%;
    }

    .bio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .presentacion--texto {
        width: 35em;
        padding: 0.6rem;
        border-radius: 6px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    /* formato formaciones */
    .formaciones--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        gap: 1.5em;
    }


    /* formulario de contacto */

    .alert {
        top: 10rem;
        left: 50%;
        padding: 4em 3em;
    }

    .contact--text {
        padding-bottom: 1.6em;
    }

    form {
        margin: 1em auto;
        width: 50%;
        padding: 1em;
    }

    form li+li {
        margin-top: 0.7em;
    }

    .form-button {
        align-self: center;
        padding: 1em 2em;
        text-align: center;
        border-radius: 0.3em;
    }

    label {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-bottom: 0.7em;
    }

    input {
        height: 2.6em;
    }

    textarea {
        height: 5em;
    }

    .contacto--msj {
        display: inline-flex;
        margin-left: 20%;
        font-weight: 500;
        padding-top: 1em;
    }

    .footer {
        flex-direction: row;
        align-items: center;
        height: auto;
    }

    .icono--footer {
        width: 3em;
    }
}